@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Light mode colors */
    --bg-color-light: #ffffff;
    --text-color-light: #333333;

    /* Dark mode colors */
    --bg-color-dark: #1a202c;
    --text-color-dark: #ffffff;
}

body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
}

body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}
